@model List<proje1.Data.Videolar>

<div class="container mt-3">
    <div class="row">
        <div class="col-md-3 mb-4">
            <div class="card text-center" style="width: 300px; height: 500px;">
                
                <div class="card-body">
                    <img src="/images/aaa.png" class="img-fluid">
                    <h5 class="card-title mt-3">Günlük Abonelik</h5>
                    <ul class="list-unstyled text-left">
                        <li>Çok ucuzdur</li>
                        <li>Çok Kalitelidir</li>
                        <li>Çok İyidir</li>
                        <li>
                            <h3>15$</h3>
                        </li>
                    </ul>
                    <button type="submit" class="mt-1" asp-action="CourseView">Abone Ol</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card text-center" style="width: 300px; height: 500px;">
                
                <div class="card-body">
                    <img src="/images/aaa.png" class="img-fluid">
                    <h5 class="card-title mt-3">Haftalık Abonelik</h5>
                    <ul class="list-unstyled text-left">
                        <li>Çok ucuzdur</li>
                        <li>Çok Kalitelidir</li>
                        <li>Çok İyidir</li>
                        <li>
                            <h3>25$</h3>
                        </li>
                    </ul>
                    <button type="submit" class="mt-1" asp-action="CourseView">Abone Ol</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card text-center" style="width: 300px; height: 500px;">
                
                <div class="card-body">
                    <img src="/images/aaa.png" class="img-fluid">
                    <h5 class="card-title mt-3">Aylık Abonelik</h5>
                    <ul class="list-unstyled text-left">
                        <li>Çok ucuzdur</li>
                        <li>Çok Kalitelidir</li>
                        <li>Çok İyidir</li>
                        <li>
                            <h3>35$</h3>
                        </li>
                    </ul>
                    <button type="submit" class="mt-1" asp-action="CourseView">Abone Ol</button>
                </div>
            </div>
        </div>
    </div>
</div>
