@{
    ViewData["Title"] = "Home";
}

<div class="row mb-3">
    <h1 class="col-12 text-center mt-3">Hayatınıza ayak uyduran öğrenim deneyimi — iOS ve Android'de</h1>
    <div class="col-6 mx-auto mt-3">
        <ul style="font-size: 26px;" class="mt-5">
            <li class="mb-2">3.400 adetten fazla konuda sunulan video kurslarla yetkinliklerinizi geliştirin</li>
            <li class="mb-2">Öğrenim hatırlatıcıları ve koyu mod ile deneyiminizi kişiselleştirin</li>
            <li class="mb-2">Çevrimdışı görüntüleme, Chromecast ve AirPlay ile dilediğiniz yerden eğitim alın</li>
            <li class="mb-2">Resim içinde resim ve podcast stili ses ile birden çok görevi aynı anda gerçekleştirin</li>
        </ul>
    </div>
    <div class="col-6 mx-auto mt-3">
        <img src="/images/giris.png" class="img-fluid" alt="Giriş Resmi">
    </div>
</div>